.custom-heading {
    font-size: 10pt;
    text-align: center;
}
/* Apply to all tables on the page */
table {
    border-collapse: collapse; /* Optional: cleaner borders */
}

/* Set default font size for table cells */
table td, table th {
    font-size: 8pt; /* 6pt font size */
    font-weight: bold; /* Normal weight */
    padding: 4px;   /* Optional: spacing for readability */
    border: 1px solid #ccc; /* Optional: border styling */
}

.footer {
    display: none;
}

.translit-l12b {
    font-size: 12pt;
    font-weight: bold;
}

.translit-l10b {
    font-size: 10pt;
    font-weight: bold;
}
